<h2>My Heroes</h2>

<!-- Master/Detail -->
<!-- A master list with more details when clicked -->

<!-- list of heroes -->
<ul class="heroes">
    <!-- <li *ngFor="let hero of heroes" 
        (click)="onSelect(hero)" 
        [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li> -->
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
    </li>
</ul>

<!-- add the child of heroesComponent, 'hero-detail' -->
<!-- pass the selectedHero for it to display (this is a one way data binding)-->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->

